repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format


  - repo: local
    hooks:
      - id: pytest
        name: kakauko v dupie
        entry: pytest -q
        language: system
        pass_filenames: false
        args: [ "tests" ]
        always_run: true
