name: Deploy to Home Server

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restart Application
        run: |
          echo "Lets hope for the best..."
          make deploy
          echo "Deployed successfully!"